/* Faisal temporary styles */

.site-header {
	position: absolute;
	left: 0;
    top: 3.75rem;
	width: 100%;
	z-index: 99;
}

.site-header-bar {
	background-color: var(--epaton-navy);
	display: flex;
	align-items: center;
  justify-content: space-between;
	gap: 2rem;
	padding-left: 45px;
	padding-right: 45px;
}

.site-logo-link {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
  max-width: 10rem;
}

.site-navigation > ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation > ul > li {
    position: relative;
}

.site-navigation ul > li > a {
    display: block;
    color: var(--epaton-cloud);
    font-weight: 500;
    text-decoration: none;
    padding: 0.75rem 0;
    transition: all 0.3s ease;
}

.site-navigation > ul > li > a:hover {
    color: var(--epaton-blue);
}

/* Dropdown */
.site-navigation .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 18rem;
    background-color: var(--epaton-blue);
    padding: 1rem 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: .3s;
    z-index: 99;
    list-style: none;
}

.site-navigation li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.site-navigation .sub-menu li {
    width: 100%;
}

.site-navigation .sub-menu > li > a {
    color: var(--epaton-white);
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.4;
    transition: 0.3s all ease;
}

.site-navigation .sub-menu .sub-menu {
    left: 100%;
    top: 0;
}

/* Mobile */
@media screen and (max-width: 991px) {
    .hero-background {
      height: 35rem;
      width: 100%;
    }
    .site-navigation > ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .site-navigation .sub-menu {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: none;
        box-shadow: none;
        padding-left: 1rem;
        display: none;
    }

    .site-navigation li.active > .sub-menu {
        display: block;
    }

    .site-navigation a {
        padding: 0.75rem 0;
    }
}
/*
====================================================
Header Style End
====================================================
*/

/*
====================================================
Hero Style Start
====================================================
*/

.has-image {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
}

.hero-background,.hero-inner {
  grid-row: 1;
  grid-column: 1;
}

.hero-background {
  height: 50rem;
  width: 100%;
}

.hero-buttons.btns {
	margin-top: 3.125rem;
}

.hero-content-inner {
  max-width: 37.125rem;
  margin-left: auto;
  color: var(--epaton-white);
}
/*
====================================================
Hero Style End
====================================================
*/


/*
====================================================
Featured Service Style Start
====================================================
*/
.featured-services-intro-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 16.875rem;
}

.featured-services-intro-eyebrow {
  font-size: .875rem;
  font-weight: 600;
  color: var(--epaton-blue);
}

.featured-services-intro-title {
  margin-top: .9375rem;
}

.featured-services-intro-body {
  margin-top: 2.5rem;
}

.site-btn.primary-gradient.featured-services-intro-button {
  margin-top: 5.625rem;
  background-color: var(--epaton-blue);
  color: var(--epaton-white);
}

/* .featured-services-intro-card {
	margin-top: 1.125rem;
  display: grid;
  grid-template-columns: 100%;
  height: 100%;
}

.featured-services-intro-card-image,.featured-services-intro-card-content {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
} */

.featured-services-intro-card-list {
	margin-top: 1rem;
}

.featured-services-intro-card {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
  color: var(--epaton-white);
}

.featured-services-intro-card-content {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.875rem;
}

.featured-services-intro-card-title {
	font-size: 2.875rem;
	font-weight: 700;
	line-height: normal;
}

@media only screen and (max-width: 1199px) {
  .featured-services-intro-grid {
    column-gap: 10rem;
  }
}
@media only screen and (max-width: 991px) {
  .featured-services-intro-grid {
    column-gap: 3rem;
  }
  .site-btn.primary-gradient.featured-services-intro-button {
   	margin-top: 3rem;
  }
  .featured-services-intro-card-title {
	 font-size: 2em;
  }
  .featured-services-intro-body {
 	  margin-top: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  .featured-services-intro-grid {
	 grid-template-columns: 1fr;
   row-gap: 2.5rem;
  }
  .featured-services-intro-body {
 	  margin-top: 1.25rem;
  }
  .site-btn.primary-gradient.featured-services-intro-button {
	  margin-top: 2rem;
  }
}
/*
====================================================
Featured Service Style End
====================================================
*/


/*
====================================================
Core Areas Style Start
====================================================
*/

.core-areas-section {
	background-color: var(--epaton-navy);
}

.core-areas-heading {
	color: var(--epaton-white);
}

.core-areas-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 3.75rem;
}

.core-areas-card.core-areas-card-blue {
  background-color: #3D45E2;
  color: var(--epaton-white);
}

.core-areas-card.core-areas-card-cyan {
	background-color: #30F5F5;
	color: var(--epaton-navy);
}

.core-areas-card {
  padding: 1.875rem;
}
@media only screen and (max-width: 991px) {
  .core-areas-grid {
	 grid-template-columns: repeat(2, 1fr);
	 margin-top: 2.5rem;
}
  .core-areas-card:last-child {
	grid-column: span 2;
	border-top: 1px solid #fff;
}
}
@media only screen and (max-width: 991px) {
  .core-areas-grid {
	 grid-template-columns: 1fr;
	 margin-top: 2.5rem;
}
.core-areas-card:last-child {
	grid-column: 1;
  border-top: 0;
}
}
@media only screen and (max-width: 991px) {
  .core-areas-grid {
	 margin-top: 2rem;
}
}

/*
====================================================
Core Areas Style End
====================================================
*/


/*
====================================================
Approach Style Start
====================================================
*/

.approach-panels-eyebrow {
  color: var(--epaton-blue);
  font-size: .875rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.approach-panels-title {
  margin-top: .9375rem;
}

.approach-panels-intro-label {
	color: #222222;
	font-weight: 700;
	line-height: 133.333%;
	margin-top: 1.25rem;
}

.epaton-list {
  margin-top: 1.25rem;
}

.epaton-list.approach-panels-bullets {
  margin-top: 1.25rem;
}

.approach-panels-bullets li::before {
	background-color: var(--epaton-blue);
}

.approach-panels-statement {
  margin-top: 1.6875rem;
  font-weight: 700;
  line-height: 133.333%;
}

.approach-panels-grid {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.approach-panels-card {
  padding: 3.4375rem 1.875rem;
}

.approach-panels-card-body {
	margin-top: 2.5rem;
}

.approach-panels-card-body ul {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  row-gap: .9375rem;
}

.approach-panels-card-body p:nth-child(2) {
	margin-top: 2.5rem;
}

.approach-panels-card-navy p:last-child {
	margin-top: 5rem;
}

.approach-panels-card.approach-panels-card-blue {
  color: var(--epaton-white);
  background-color: var(--epaton-blue);
}

.approach-panels-card.approach-panels-card-navy {
  color: var(--epaton-white);
  background-color: var(--epaton-navy);
}
@media only screen and (max-width: 991px) {
  .approach-panels-card {
	  padding: 3rem 1.875rem;
  }
  .approach-panels-card-body {
	  margin-top: 2rem;
  }
  .approach-panels-card-body p:nth-child(2) {
	  margin-top: 2rem;
  }
  .approach-panels-card-navy p:last-child {
  	margin-top: 3rem;
  }
}
@media only screen and (max-width: 767px) {
  .approach-panels-grid {
	  grid-template-columns: 1fr;
  }
  .approach-panels-card-navy p:last-child {
	  margin-top: 2rem;
  }
}

/*
====================================================
Approach Style End
====================================================
*/


/*
====================================================
Client Logo Style Start
====================================================
*/
.clients-logos-section {
	color: var(--epaton-white);
	background-color: var(--epaton-navy);

}

.clients-logos-eyebrow {
  color: var(--epaton-cyan);
  font-weight: 600;
  font-size: .875rem;
}

.clients-logos-list-eyebrow {
  font-size: .875rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.clients-logos-grid {
  display: grid;
  grid-template-columns: 1fr 21.375rem;
  column-gap: 18rem;
}

.clients-logos-list {
  margin-top: 1.875rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2.5rem;
  column-gap: 1.875rem;
}

.clients-logos-title {
	margin-top: 1.25rem;
}

.epaton-list.clients-logos-bullets {
	margin-top: 3rem;
}

.clients-logos-bullets li::before {
	background-color: var(--epaton-cyan);
}

.clients-logos-body {
	margin-top: 1.875rem;
}

.site-btn.btn-accent.clients-logos-button {
	margin-top: 3.125rem;
}
@media only screen and (max-width: 1199px) {
  .clients-logos-grid {
	  column-gap: 9.6875rem;
  }
}
@media only screen and (max-width: 991px) {
  .clients-logos-grid {
    grid-template-columns: 1fr 280px;
    column-gap: 5rem;
  }
  .epaton-list.clients-logos-bullets {
   	margin-top: 2rem;
  }
  .clients-logos-title br {
	    display: none;
  }
  .clients-logos-body {
    max-width: 25rem;
  }
}
@media only screen and (max-width: 767px) {
  .clients-logos-grid {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
  .site-btn.btn-accent.clients-logos-button {
	  margin-top: 2.5rem;
  }
  
}
/*
====================================================
Client Logo Style End
====================================================
*/


/*
====================================================
Commitment Style Start
====================================================
*/
.commitment-panel-section {
  background-color: var(--epaton-cyan);
}

.commitment-panel-card {
  color: var(--epaton-white);
  background-image: url(assets/images/commltment.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4.25rem 8rem;
}

.commitment-panel-eyebrow {
  color: var(--epaton-cyan);
  font-size: .875rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.commitment-panel-title {
  margin-top: 1.0625rem;
}

.commitment-panel-intro-label {
  margin-top: 4.375rem;
}

.commitment-panel-bullets {
  margin-top: 2.5rem;
}

.epaton-list.commitment-panel-bullets {
  margin-top: 1.25rem;
}

.commitment-panel-bullets li:before {
  background-color: var(--epaton-cyan);
}

.commitment-panel-statement {
  margin-top: 2.5rem;
}
@media only screen and (max-width: 991px) {
  .commitment-panel-card {
	  padding: 4rem 5rem;
  }
  .commitment-panel-intro-label {
	  margin-top: 3rem;
   }
}
@media only screen and (max-width: 991px) {
  .commitment-panel-card {
	  padding: 2.5rem 2rem;
  }
  .commitment-panel-intro-label {
	  margin-top: 2rem;
   }
}
/*
====================================================
Commitment Style End
====================================================
*/



/*
====================================================
Looking Forward Style Start
====================================================
*/
.looking-forward-section {
  color: var(--epaton-white);
  background-color: var(--epaton-navy);
}

.looking-forward-eyebrow {
  color: var(--epaton-cyan);
  font-size: .875rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.looking-forward-statements {
	margin-top: 1.25rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	row-gap: 1.25rem;
}

.looking-forward-statements p {
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
}
@media only screen and (max-width: 1199px) {
  .looking-forward-statements p {
	 font-size: 1.5rem;
  }
}
@media only screen and (max-width: 991px) {
  .looking-forward-statements p {
	 font-size: 1.25rem;
  }
}
@media only screen and (max-width: 767px) {
  .looking-forward-statements p {
	 font-size: 1.125rem;
  }
  .looking-forward-statements {
	 row-gap: 1rem;
  }
}
/*
====================================================
Looking Forward Style End
====================================================
*/

/*
====================================================
Contat Cta Style Start
====================================================
*/
.contact-cta-card {
  color: var(--epaton-white);
  background: linear-gradient(133deg, #3D45E2 -2.51%, #090B36 100.07%), #D9D9D9;
  padding: 3.5625rem 12.8125rem;
  text-align: center;
}

.contact-cta-body {
  margin-top: 1.875rem;
}

.contact-cta-card .site-btn {
  margin-top: 3.125rem;
}
@media only screen and (max-width: 767px) {
  .contact-cta-card {
  	padding: 3rem 2.5rem;
  }
}
/*
====================================================
Contat Cta Style End
====================================================
*/


/*
====================================================
Inner Hero Style Start
====================================================
*/
.inner-hero-background,.inner-hero-inner {
  grid-row: 1;
  grid-column: 1;
}
.inner-hero-background {
	height: 36.25rem;
	padding-bottom: 4.875rem;
}
.inner-hero-content {
  color: var(--epaton-white);
}
/*
====================================================
Inner Hero Style End
====================================================
*/


/*
====================================================
Product Card Style Start
====================================================
*/
.product-card {
  color: var(--epaton-white);
  background: linear-gradient(133deg, #3D45E2 -2.51%, #090B36 100.07%), #D9D9D9;
  display: grid;
  grid-template-columns: 1fr 468px;
}

.product-card-content {
  padding: 3.125rem 5rem;
}

.products-list {
  display: flex;
  flex-direction: column;
  row-gap: 4.375rem;
}

.product-card-title {
  font-size: 2.875rem;
  line-height: normal;
}

.product-card-image img {
	height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-card-description {
	margin-top: 1.875rem;
}

.product-card-btn {
	color: var(--epaton-navy);
	background-color: var(--epaton-white);
	margin-top: 3.4375rem;
	padding: .625rem 1.375rem;
}

.product-card:nth-child(2) {
  background: linear-gradient(133deg, #30F5F5 -2.51%, #3D45E2 100.07%);
  color: var(--epaton-navy);
}

.product-card:nth-child(2) .product-card-btn {
  color: var(--epaton-white);
  background-color: var(--epaton-navy);
}
@media only screen and (max-width: 991px) {
    .product-card {
      grid-template-columns: 1fr;
    }
    .product-card-content {
	    padding: 2rem 3rem;
    }
    .product-card-description {
	    margin-top: 1rem;
    }
    .product-card-btn {
      margin-top: 2rem;
      padding: .625rem 1.375rem;
    }
    .product-card-title {
	    font-size: 2.2rem;
   }
   .product-card-image {
    height: 21.875rem;
    }
}
@media only screen and (max-width: 767px) {
  .product-card-title {
	  font-size: 2rem;
  }
  .product-card-content {
  	padding: 1.8rem 2rem;
  }
  .products-list {
    row-gap: 3rem;
  }
  .product-card-image {
	  height: 18.75rem;
  }
}
/*
====================================================
Product Card Style End
====================================================
*/



/*
====================================================
Service Card Style Start
====================================================
*/
.service-card {
  display: grid;
  grid-template-columns: 1fr 468px;
}

.service-card-content {
  padding: 3.125rem 5rem;
}

.services-list {
  display: flex;
  flex-direction: column;
  row-gap: 4.375rem;
}

.service-card-title {
  font-size: 2.875rem;
  line-height: normal;
}

.service-card-image img {
	height: 100%;
  width: 100%;
  object-fit: cover;
}

.service-card-description {
	margin-top: 1.875rem;
}

.service-card.theme-light .service-card-btn {
	color: var(--epaton-white);
	background-color: var(--epaton-navy);
}

.service-card.theme-blue .service-card-btn {
	color: var(--epaton-navy);
	background-color: var(--epaton-white);
}

.service-card:nth-child(2),
.service-card:nth-child(4),
.service-card:nth-child(6) {
  color: var(--epaton-white);
  background: linear-gradient(133deg, #3D45E2 -2.51%, #090B36 100.07%), #D9D9D9;
}

.service-card:nth-child(1),
.service-card:nth-child(3),
.service-card:nth-child(5){
  color: var(--epaton-navy);
  background-color: var(--epaton-silver);
}

.service-card .service-card-btn {
  margin-top: 3.4375rem;
	padding: .625rem 1.375rem;
}

@media only screen and (max-width: 991px) {
    .service-card {
      grid-template-columns: 1fr;
    }
    .service-card-content {
	    padding: 2rem 3rem;
    }
    .service-card-description {
	    margin-top: 1rem;
    }
    .service-card-btn {
      margin-top: 2rem;
      padding: .625rem 1.375rem;
    }
    .service-card-title {
	    font-size: 2.2rem;
   }
   .service-card-image {
    height: 21.875rem;
    }
}
@media only screen and (max-width: 767px) {
  .service-card-title {
	  font-size: 2rem;
  }
  .service-card-content {
  	padding: 1.8rem 2rem;
  }
  .services-list {
    row-gap: 3rem;
  }
  .service-card-image {
	  height: 18.75rem;
  }
  .service-card .service-card-btn {
	  margin-top: 2rem;
  }
}
/*
====================================================
Service Card Style End
====================================================
*/


/*
====================================================
Media Content 5050 Style Start
====================================================
*/

.media-content-5050-row {
    display: grid;
    column-gap: 2.25rem;
}

.mc5050-content {
	grid-area: content;
	margin-top: 2.6875rem;
}

.mc5050-media{
    grid-area: media;
}

.media-content-5050-row {
  margin-bottom: 4.375rem;
}

.media-content-5050-row.media-right {
	grid-template-areas: "content media";
  grid-template-columns: 29.25rem 1fr;
}

.media-content-5050-row.media-left{
    grid-template-areas: "media content";
    grid-template-columns: 1fr 29.25rem;
}

.mc5050-eyebrow {
  color: var(--epaton-blue);
  font-size: .875rem;
  font-weight: 600;
  line-height: normal;
}

.mc5050-body.wysiwyg-content {
  margin-top: 2.5rem;
}

@media only screen and (max-width:991px) {

    .media-content-5050-row.media-right{
        grid-template-columns: 1fr 1fr;
    }
    .media-content-5050-row.media-left{
        grid-template-columns: 1fr 1fr;

    }

}
@media only screen and (max-width: 767px) {
  .media-content-5050-row {
    row-gap: 1.875rem;
    margin-bottom: 3rem;
  }
  .media-content-5050-row.media-right {
        grid-template-areas: 
        "media" 
        "content";
        grid-template-columns: 1fr;
    }
 .media-content-5050-row.media-left {
        grid-template-areas: 
        "media"
        "content";
        grid-template-columns: 1fr;
    }
 .mc5050-body.wysiwyg-content {
   	margin-top: 1.5rem;
   }
  .mc5050-content {
  	margin-top: 1.2rem;
}
}
/*
====================================================
Media Content 5050 Style End
====================================================
*/


/*
====================================================
Partners Listing Style Start
====================================================
*/

.partners-listing-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.partners-listing-card:last-child {
	grid-column: 2;
}

.partners-listing-card {
  padding: 2.8125rem 1.25rem 1.875rem 1.25rem;
}

.partners-listing-card.theme-blue {
  color: var(--epaton-white);
  background: linear-gradient(133deg, #3D45E2 -2.51%, #090B36 100.07%);
}

.partners-listing-card.theme-cyan {
  background: linear-gradient(133deg, #30F5F5 -2.51%, #3D45E2 100.07%);
  color: var(--epaton-navy);
}

.partners-listing-logo-wrap {
	text-align: center;
}

.partners-listing-name {
  margin-top: 2.8125rem;
}
@media only screen and (max-width: 767px) {
  .partners-listing-grid {
	  grid-template-columns: 1fr;
  }
  .partners-listing-card:last-child {
	 grid-column: 1;
  }
.partners-listing-logo-wrap {
	max-width: 9.375rem;
	margin-left: auto;
	margin-right: auto;
}
}
/*
====================================================
Partners Listing Style End
====================================================
*/


/*
====================================================
Blog Grid Style Start
====================================================
*/
.blog-grid.card-grid {
  gap: 0;
}

.blog-card-image-wrap {
  position: relative;
}

.blog-card-label {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: .875rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: normal;
}

.blog-index-description {
	max-width: 29.1875rem;
}

.blog-card:nth-child(1),
.blog-card:nth-child(3),
.blog-card:nth-child(5),
.blog-card:nth-child(7),
.blog-card:nth-child(9),
.blog-card:nth-child(11) {
  color: var(--epaton-white);
  background-color: var(--epaton-navy);
}

.blog-card:nth-child(1) .blog-card-label,
.blog-card:nth-child(3) .blog-card-label,
.blog-card:nth-child(5) .blog-card-label,
.blog-card:nth-child(7) .blog-card-label,
.blog-card:nth-child(9) .blog-card-label,
.blog-card:nth-child(11) .blog-card-label {
    padding: 0.375rem 1.375rem;
    background-color: var(--epaton-navy);
    border-radius: 1px;
}

.blog-card:nth-child(2),
.blog-card:nth-child(4),
.blog-card:nth-child(6),
.blog-card:nth-child(8),
.blog-card:nth-child(10),
.blog-card:nth-child(12) {
  color: var(--epaton-navy);
  background-color: var(--epaton-silver);
}

.blog-card:nth-child(2) .blog-card-label,
.blog-card:nth-child(4) .blog-card-label,
.blog-card:nth-child(6) .blog-card-label,
.blog-card:nth-child(8) .blog-card-label,
.blog-card:nth-child(10) .blog-card-label,
.blog-card:nth-child(12) .blog-card-label {
    padding: 0.375rem 1.375rem;
    background-color: var(--epaton-silver);
    border-radius: 1px;
}

.blog-card-content {
	padding: 1.5rem 1.5rem 1.875rem 1.5rem;
}

.blog-card-excerpt {
  font-size: 1rem;
}
/*
====================================================
Blog Grid Style End
====================================================
*/



.contact-panel-grid {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	column-gap: 7.875rem;
	margin-top: 3.125rem;
}

.contact-panel-section-title {
	font-size: 3.125rem;
  font-weight: 600;
}

.contact-panel-title {
	color: var(--epaton-white);
	text-align: center;
}

.contact-panel {
  background: linear-gradient(133deg, #3D45E2 -2.51%, #090B36 100.07%), #D9D9D9;
  padding: 1.6875rem 5.5rem 6.6875rem 5.5rem;
}

.epaton-contact-field p br {
	display: none;
}

.epaton-contact-form .epaton-contact-field {
	margin-bottom: 1.5rem;
}

.epaton-contact-form label {
	margin-bottom: .75rem;
}

.wpcf7 .wpcf7-submit:disabled {
	cursor: pointer;
}

.contact-panel-info {
  display: flex;
  flex-direction: column;
  row-gap: 2.3125rem;
}

.contact-panel-info-link {
  color: var(--epaton-white);
  background-color: var(--epaton-blue);
  display: inline-flex;
  padding: .75rem 1.375rem;
  align-items: center;
  justify-content: center;
}

.contact-panel-socials {
  background-color: var(--epaton-blue);
  padding: .75rem 1.375rem;
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.contact-panel-info {
	margin-top: 2.1875rem;
}
@media only screen and (max-width: 991px) {
  .contact-panel {
  padding: 1rem 3rem 4rem 3rem;
 }
.contact-panel-grid {
	column-gap: 3rem;
}

}
@media only screen and (max-width: 991px) {
  .contact-panel {
   padding: 2rem;
 }
 .contact-panel-grid {
  grid-template-columns: 1fr;
	row-gap: 1rem;
 }

}



/*
====================================================
Footer Style Start
====================================================
*/
.site-footer {
	color: var(--epaton-white);
	background-color: var(--epaton-navy);
}
.site-footer-main {
	display: grid;
	grid-template-columns: 13.5rem 1fr;
	column-gap: 2.25rem;
}

.footer-logo-link {
  max-width: 7.875rem;
  display: block;
}

.footer-company-text {
  margin-top: 2.8125rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 164.286%;
}

.footer-contact-row {
  margin-top: 1.875rem;
  border-bottom: 0.063rem solid var(--epaton-white);
  padding-bottom: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.footer-contact-link {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 135%;
  text-transform: uppercase;
}

.footer-heading.footer-offices-heading {
  margin-top: 3.125rem;
}

.footer-office-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: .75rem;
	column-gap: 1.25rem;
}

.footer-office-row:not(:last-child) {
	border-bottom: 0.063rem solid var(--epaton-white);
}

.footer-office-city {
  font-size: 1rem;
  font-weight: 600;
  line-height: 250%;
  text-transform: uppercase;
}

.footer-offices {
  display: flex;
  flex-direction: column;
  row-gap: .875rem;
}

.footer-office-address {
	font-weight: 400;
	line-height: 168.75%;
	text-transform: uppercase;
	font-size: 1rem;
}

.site-footer-bottom {
  border-top: 1px solid var(--epaton-white);
  margin-top: 2.5rem;
  padding-top: 1.375rem;
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
}

.footer-legal {
  display: flex;
  align-items: center;
  color: var(--epaton-cloud);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer-legal-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: .375rem;
	padding-left: .375rem;
}

.footer-legal-nav li {
  position: relative;
  padding-left: .375rem;
}

.footer-legal-nav li:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 1px;
  height: 1.125rem;
  background-color: var(--epaton-white);
  transform: translateY(-50%);
}

.footer-legal-nav a {
	text-decoration: underline;
	font-weight: 400;
}

.site-footer-contact .footer-heading {
	font-size: 1.75rem;
}

.footer-credit span {
	font-weight: 400;
}

@media only screen and (max-width: 991px) {
    .footer-contact-link {
	  font-size: 1.125rem;
    }
    .site-footer-contact .footer-heading {
	  font-size: 1.2rem;
   }
   .footer-office-address {
	   font-size: .9375rem;
   }
   .footer-legal {
	   font-size: 1rem;
   }
}
@media only screen and (max-width: 767px) {
    .site-footer-main {
	  grid-template-columns: 1fr;
      row-gap: 1.5rem;
    }
    .footer-company-text {
	  margin-top: 2rem;
     }
    .footer-contact-link {
	   font-size: .9375rem;
    }
    .footer-office-address {
	   font-size: .875rem;
    }
    .footer-heading.footer-offices-heading {
	   margin-top: 2rem;
    }
    .footer-office-row {
	  display: block;
    }
    .site-footer-bottom {
     flex-direction: column;
    }
  .footer-legal {
	  flex-direction: column;
	  row-gap: 12px;
   }
   .footer-credit {
	  text-align: center;
   }
}
/*
====================================================
Footer Style End
====================================================
*/