/* Faisal temporary styles */

.site-header {
	position: absolute;
	left: 0;
    top: 3.75rem;
	width: 100%;
	z-index: 99;
}

.site-header-bar {
	background-color: var(--epaton-navy);
	display: flex;
	align-items: center;
  justify-content: space-between;
	gap: 2rem;
	padding-left: 45px;
	padding-right: 45px;
}

.site-logo-link {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
  max-width: 10rem;
}

.site-navigation > ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation > ul > li {
    position: relative;
}

.site-navigation ul > li > a {
    display: block;
    color: var(--epaton-cloud);
    font-weight: 500;
    text-decoration: none;
    padding: 0.75rem 0;
    transition: all 0.3s ease;
}

.site-navigation > ul > li > a:hover {
    color: var(--epaton-blue);
}

/* Dropdown */
.site-navigation .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 18rem;
    background-color: var(--epaton-blue);
    padding: 1rem 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: .3s;
    z-index: 99;
}

.site-navigation li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.site-navigation .sub-menu li {
    width: 100%;
}

.site-navigation .sub-menu > li > a {
    color: var(--epaton-white);
    padding: .625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.4;
    transition: 0.3s all ease;
}

.site-navigation .sub-menu .sub-menu {
    left: 100%;
    top: 0;
}

/* Mobile */
@media screen and (max-width: 991px) {
    .hero-background {
      height: 35rem;
      width: 100%;
    }
    .site-navigation > ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .site-navigation .sub-menu {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: none;
        box-shadow: none;
        padding-left: 1rem;
        display: none;
    }

    .site-navigation li.active > .sub-menu {
        display: block;
    }

    .site-navigation a {
        padding: 0.75rem 0;
    }
}
/*
====================================================
Header Style End
====================================================
*/

/*
====================================================
Hero Style Start
====================================================
*/

.hero-section.has-image {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
}

.hero-background,.hero-inner {
  grid-row: 1;
  grid-column: 1;
}

.hero-background {
  height: 50rem;
  width: 100%;
}

.hero-buttons.btns {
	margin-top: 3.125rem;
}

.hero-content-inner {
  max-width: 37.125rem;
  margin-left: auto;
  color: var(--epaton-white);
}
/*
====================================================
Hero Style End
====================================================
*/


/*
====================================================
Featured Service Style Start
====================================================
*/
.featured-services-intro-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 16.875rem;
}

.featured-services-intro-eyebrow {
  font-size: .875rem;
  font-weight: 600;
  color: var(--epaton-blue);
}

.featured-services-intro-title {
  margin-top: .9375rem;
}

.featured-services-intro-body {
  margin-top: 2.5rem;
}

.site-btn.primary-gradient.featured-services-intro-button {
  margin-top: 5.625rem;
  background-color: var(--epaton-blue);
  color: var(--epaton-white);
}

/* .featured-services-intro-card {
	margin-top: 1.125rem;
  display: grid;
  grid-template-columns: 100%;
  height: 100%;
}

.featured-services-intro-card-image,.featured-services-intro-card-content {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
} */

.featured-services-intro-card-list {
	margin-top: 1rem;
}

.featured-services-intro-card {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
  color: var(--epaton-white);
}

.featured-services-intro-card-content {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.875rem;
}

.featured-services-intro-card-title {
	font-size: 2.875rem;
	font-weight: 700;
	line-height: normal;
}

@media only screen and (max-width: 1199px) {
  .featured-services-intro-grid {
    column-gap: 10rem;
  }
}
@media only screen and (max-width: 991px) {
  .featured-services-intro-grid {
    column-gap: 3rem;
  }
  .site-btn.primary-gradient.featured-services-intro-button {
   	margin-top: 3rem;
  }
  .featured-services-intro-card-title {
	 font-size: 2em;
  }
  .featured-services-intro-body {
 	  margin-top: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  .featured-services-intro-grid {
	 grid-template-columns: 1fr;
   row-gap: 2.5rem;
  }
  .featured-services-intro-body {
 	  margin-top: 1.25rem;
  }
  .site-btn.primary-gradient.featured-services-intro-button {
	  margin-top: 2rem;
  }
}
/*
====================================================
Featured Service Style End
====================================================
*/


/*
====================================================
Core Areas Style Start
====================================================
*/

.core-areas-section {
	background-color: var(--epaton-navy);
}

.core-areas-heading {
	color: var(--epaton-white);
}

.core-areas-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 3.75rem;
}

.core-areas-card.core-areas-card-blue {
  background-color: #3D45E2;
  color: var(--epaton-white);
}

.core-areas-card.core-areas-card-cyan {
	background-color: #30F5F5;
	color: var(--epaton-navy);
}

.core-areas-card {
  padding: 1.875rem;
}
@media only screen and (max-width: 991px) {
  .core-areas-grid {
	 grid-template-columns: repeat(2, 1fr);
	 margin-top: 2.5rem;
}
  .core-areas-card:last-child {
	grid-column: span 2;
	border-top: 1px solid #fff;
}
}
@media only screen and (max-width: 991px) {
  .core-areas-grid {
	 grid-template-columns: 1fr;
	 margin-top: 2.5rem;
}
.core-areas-card:last-child {
	grid-column: 1;
  border-top: 0;
}
}
@media only screen and (max-width: 991px) {
  .core-areas-grid {
	 margin-top: 2rem;
}
}

/*
====================================================
Core Areas Style End
====================================================
*/


/*
====================================================
Approach Style Start
====================================================
*/

.approach-panels-eyebrow {
  color: var(--epaton-blue);
  font-size: .875rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.approach-panels-title {
  margin-top: .9375rem;
}

.approach-panels-intro-label {
	color: #222222;
	font-weight: 700;
	line-height: 133.333%;
	margin-top: 1.25rem;
}

.epaton-list {
  margin-top: 1.25rem;
}

.epaton-list.approach-panels-bullets {
  margin-top: 1.25rem;
}

.epaton-list.approach-panels-bullets li {
  font-weight: 500;
  line-height: 188.889%;
}

.epaton-list.approach-panels-bullets li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
  transform: translateY(-50%);
	width: 1.3125rem;
	height: 1.3125rem;
	border-radius: 50%;
	background-color: var(--epaton-blue);
}

.approach-panels-statement {
  margin-top: 1.6875rem;
  font-weight: 700;
  line-height: 133.333%;
}

.approach-panels-grid {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.approach-panels-card {
  padding: 3.4375rem 1.875rem;
}

.approach-panels-card-body {
	margin-top: 2.5rem;
}

.approach-panels-card-body ul {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  row-gap: .9375rem;
}

.approach-panels-card-body p:nth-child(2) {
	margin-top: 2.5rem;
}

.approach-panels-card-navy p:last-child {
	margin-top: 5rem;
}

.approach-panels-card.approach-panels-card-blue {
  color: var(--epaton-white);
  background-color: var(--epaton-blue);
}

.approach-panels-card.approach-panels-card-navy {
  color: var(--epaton-white);
  background-color: var(--epaton-navy);
}
@media only screen and (max-width: 991px) {
  .approach-panels-card {
	  padding: 3rem 1.875rem;
  }
  .approach-panels-card-body {
	  margin-top: 2rem;
  }
  .approach-panels-card-body p:nth-child(2) {
	  margin-top: 2rem;
  }
  .approach-panels-card-navy p:last-child {
  	margin-top: 3rem;
  }
}
@media only screen and (max-width: 767px) {
  .approach-panels-grid {
	  grid-template-columns: 1fr;
  }
  .approach-panels-card-navy p:last-child {
	  margin-top: 2rem;
  }
}

/*
====================================================
Approach Style End
====================================================
*/

.clients-logos-section {
	color: var(--epaton-white);
	background-color: var(--epaton-navy);
}

.clients-logos-eyebrow {
  color: var(--epaton-cyan);
  font-weight: 600;
  font-size: .875rem;
}

.clients-logos-list-eyebrow {
  font-size: .875rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.clients-logos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10.625rem;
}

.clients-logos-list {
  margin-top: 1.875rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2.5rem;
  column-gap: 1.875rem;
}





/*
====================================================
Footer Style Start
====================================================
*/
.site-footer {
	color: var(--epaton-white);
	background-color: var(--epaton-navy);
}
.site-footer-main {
	display: grid;
	grid-template-columns: 13.5rem 1fr;
	column-gap: 2.25rem;
}

.footer-logo-link {
  max-width: 7.875rem;
  display: block;
}

.footer-company-text {
  margin-top: 2.8125rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 164.286%;
}

.footer-contact-row {
  margin-top: 1.875rem;
  border-bottom: 0.063rem solid var(--epaton-white);
  padding-bottom: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.footer-contact-link {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 135%;
  text-transform: uppercase;
}

.footer-heading.footer-offices-heading {
  margin-top: 3.125rem;
}

.footer-office-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: .75rem;
	column-gap: 1.25rem;
}

.footer-office-row:not(:last-child) {
	border-bottom: 0.063rem solid var(--epaton-white);
}

.footer-office-city {
  font-size: 1rem;
  font-weight: 600;
  line-height: 250%;
  text-transform: uppercase;
}

.footer-offices {
  display: flex;
  flex-direction: column;
  row-gap: .875rem;
}

.footer-office-address {
	font-weight: 400;
	line-height: 168.75%;
	text-transform: uppercase;
	font-size: 1rem;
}

.site-footer-bottom {
  border-top: 1px solid var(--epaton-white);
  margin-top: 2.5rem;
  padding-top: 1.375rem;
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
}

.footer-legal {
  display: flex;
  align-items: center;
  color: var(--epaton-cloud);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer-legal-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: .375rem;
	padding-left: .375rem;
}

.footer-legal-nav li {
  position: relative;
  padding-left: .375rem;
}

.footer-legal-nav li:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  width: 1px;
  height: 1.125rem;
  background-color: var(--epaton-white);
  transform: translateY(-50%);
}

.footer-legal-nav a {
	text-decoration: underline;
	font-weight: 400;
}

.site-footer-contact .footer-heading {
	font-size: 1.75rem;
}

.footer-credit span {
	font-weight: 400;
}

@media only screen and (max-width: 991px) {
    .footer-contact-link {
	  font-size: 1.125rem;
    }
    .site-footer-contact .footer-heading {
	  font-size: 1.2rem;
   }
   .footer-office-address {
	   font-size: .9375rem;
   }
   .footer-legal {
	   font-size: 1rem;
   }
}
@media only screen and (max-width: 767px) {
    .site-footer-main {
	  grid-template-columns: 1fr;
      row-gap: 1.5rem;
    }
    .footer-company-text {
	  margin-top: 2rem;
     }
    .footer-contact-link {
	   font-size: .9375rem;
    }
    .footer-office-address {
	   font-size: .875rem;
    }
    .footer-heading.footer-offices-heading {
	   margin-top: 2rem;
    }
    .footer-office-row {
	  display: block;
    }
    .site-footer-bottom {
     flex-direction: column;
    }
  .footer-legal {
	  flex-direction: column;
	  row-gap: 12px;
   }
   .footer-credit {
	  text-align: center;
   }
}
/*
====================================================
Footer Style End
====================================================
*/